.tipsy { padding: 5px; font-size: 10px; opacity: 0.7; filter: alpha(opacity=70); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); margin: 0 0 0 0}
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 450px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
.tooltip {padding: 0; margin: 0}
.tooltip li {text-align: left; list-style: none; border-bottom: 1px dotted #333; padding: 3px 5px}
.tooltip li:last-child {border: none}

#gravity { width: 100%; margin: 5px 0; border-spacing: 5px; }
#gravity td { text-align: center; vertical-align: middle; padding: 5px 0; background-color: #d0d0d0; }
#gravity a:hover { color: #505050; background: none; }
